<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="firstdiv">
        <video class="video" src="/image/Marvel Rivals _ Launch Trailer.mp4" autoplay loop muted ></video>
    </div>



    <div class="charcterani">
      

      <div class="ironman">
        <div class="ironimg">
          <h1 class="ih"style="font-size: clamp(4rem, 5vw, 5rem);">IRON MAN </h1>
        </div>
      </div>


      <div class="hulk">
        <div class="hulkimg">
          <h1 class="ih"style="font-size: clamp(4rem, 5vw, 5rem);">HULK </h1>
        </div>
      </div>


      <div class="thor">
        <div class="thorimg">
          <h1 class="ih" style="font-size: clamp(4rem, 5vw, 5rem);">thor </h1>
        </div>
      </div>

      <div class="moon">
        <div class="moonimg">
          <h1 class="ih"style="font-size: clamp(4rem, 5vw, 5rem);">MOONNIGHT </h1>
        </div>
      </div>
      
      <div class="contentofweb">
        <div class="ch">
          <h1 style="font-size: min(max(2.5rem, 2.5vw), 4rem);"class="mdh">Scroll down for more.</h1>
        </div>
        <div class="pourpose">
          <p style="font-size: min(max(1.2rem, 2vw), 2rem); color: white;"class="md">
            This website is made by <b>Udyansh</b> and the solo pourpose of this website is to show the marvel universe and my skills to use the api of marvel.So i hope you will like it.Made by using(api,ejs,html,css,node,javascript,express,jQuery and for animations GASP.)
          </p>
        </div>
      </div>
      


    </div>



    <div class="main">
        <div class="headline">
            <h1 class="m">MARVEL TOP 22 HEROES.</h1>
        </div>
        <div class="container">
            
            <% for (let i = 0; i < data.length; i++) { %>
                <% if (data[i] && data[i].thumbnail) { %>
                  <a href="/character/<%= data[i].id %>"><div class="one">
                    <div class="pic">
                      <img src="<%= data[i].thumbnail.path %>.jpg" alt="">
                    </div>
                    <div class="name">
                        <div class="reddivani">
                        <div class="chn">
                          <h4 class="n"style="font-size: min(max(0.8rem, 1vw), 1rem);"><%= data[i].name %></h4>
                        </div>
                        </div>
                    </div>
                    </div>
                    </a>
                <% } %>
                <% } %>
                    
            
        </div>        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
<script>
    gsap.registerPlugin(ScrollTrigger);


gsap.from(".one", {
        scrollTrigger: {
            trigger: ".one",
            start: "top 100%",
            end: "top 60%",
            ease: 'power1.out',
            scrub: true
        },
        y: 30,
        
        opacity: 0
    });

    gsap.from(".headline", {
        scrollTrigger: {
            trigger: ".headline",
            start: "top 100%",
            end: "top 60%",
            ease: 'power1.out',
            scrub: true
        },
        y: 30,
        
        opacity: 0
    });

    gsap.from(".n", {
        scrollTrigger: {
            trigger: ".n",
            start: "top 100%",
            end: "top 60%",
            ease: 'power1.out',
            scrub: true
        },
        y: 30,
        
        opacity: 0
    });


    gsap.from(".main", {
        scrollTrigger: {
            trigger: ".main",
            start: "top 100%",
            end: "top 20%",
            ease: 'power1.out',
            scrub: true,
            snap: true
        },
        opacity: 0.3,
        width:'80%',
        height:'10%',
        borderRadius:'15%',
        backgroundColor:'#202020',
        y: 30
        
    });

    gsap.from(".marvelintro", {
        scrollTrigger: {
            trigger: ".marvelintro",
            start: "top 100%",
            end: "top 20%",
            ease: 'power1.out',
            scrub: true,
            
        },
        opacity: 0,
        y: 30
        
    });


    gsap.from(".marvelimg", {
        scrollTrigger: {
            trigger: ".marvelimg",
            start: "top 100%",
            end: "top 10%",
            ease: 'slow(1, 1, false)',
            scrub: true,
        },
        opacity: 1,
        y: 30,
        width:'10%',
        borderRadius:'45%',
    });

    gsap.registerPlugin(ScrollTrigger);



gsap.from(".ironman", {
  scrollTrigger: {
    trigger: ".ironman",
    start: "top top",
      end: () => `+=${document.querySelector(".ironman").offsetHeight}`,
    scrub: true, 
    pin: true ,
    snap: true,
  },
  opacity: 1,
  
    

})

gsap.from(".ironimg", {
  scrollTrigger: {
    trigger: ".ironimg",
    start: "bottom 100%",
    end: "bottom 90%",
    ease:"elastic(1, 1, false)",
    scrub: true,

  },
  opacity: 0, 
  x: -30, 
  width: "10%", 
  borderRadius: "45%", 
  ease: "slow(1, 1, false)",
  duration: 2
  
})


gsap.to(".hulk", {
  scrollTrigger: {
    trigger: ".hulk",
    start: "top top",
    end: () => `+=${document.querySelector(".hulk").offsetHeight}`,
    scrub: true,
    pin: true,
    snap: true,
  }
});

gsap.from(".hulkimg", {
  scrollTrigger: {
    trigger: ".hulkimg",
    start: "bottom 100%",
    end: "bottom 90%",
    ease:"elastic(1, 1, false)",
    scrub: true,

  },
  opacity: 0, 
  x: 30, 
  width: "10%", 
  borderRadius: "45%", 
  ease: "slow(1, 1, false)",
  duration: 2
  
})

gsap.to(".thor", {
  scrollTrigger: {
    trigger: ".thor",
    start: "top top",
    end: () => `+=${document.querySelector(".thor").offsetHeight}`,
    scrub: true,
    pin: true,
    pinSpacing: false,
    snap: true,
  }
});

gsap.from(".thorimg", {
  scrollTrigger: {
    trigger: ".thorimg",
    start: "bottom 100%",
    end: "bottom 90%",
    ease:"elastic(1, 1, false)",
    scrub: true,

  },
  opacity: 0, 
  x: -30, 
  width: "10%", 
  borderRadius: "45%", 
  ease: "slow(1, 1, false)",
  duration: 2
  
})

gsap.to(".moon", {
  scrollTrigger: {
    trigger: ".moon",
    start: "top top",
    end: () => `+=${document.querySelector(".moon").offsetHeight}`,
    scrub: true,
    pin: true,
    pinSpacing: false,
    snap: true,
  }
});

gsap.from(".moonimg", {
  scrollTrigger: {
    trigger: ".moonimg",
    start: "bottom 100%",
    end: "bottom 90%",
    ease:"elastic(1, 1, false)",
    scrub: true,

  },
  opacity: 0, 
  x: 30, 
  width: "10%", 
  borderRadius: "45%", 
  ease: "slow(1, 1, false)",
  duration: 2
  
})

gsap.to(".firstdiv", {
  scrollTrigger: {
    trigger: ".firstdiv",
    start: "top top",
    end: () => `+=${document.querySelector(".firstdiv").offsetHeight}`,
    scrub: true,
    pin: true,
    pinSpacing: false,
    snap: true,
  }
});

gsap.from(".mdh", {
  scrollTrigger: {
    trigger: ".mdh",
    start: "bottom 100%",
    end: "bottom 50%",
    ease:"elastic(1, 1, false)",
    scrub: true,

  },
  opacity: 0, 
  y: 30, 
  ease: "slow(1, 1, false)",
  duration: 2
  
})

gsap.from(".md", {
  scrollTrigger: {
    trigger: ".md",
    start: "bottom 100%",
    end: "bottom 50%",
    ease:"elastic(1, 1, false)",
    scrub: true,

  },
  opacity: 0, 
  y: 30, 
  ease: "slow(1, 1, false)",
  duration: 2
  
})


</script>

</body>
</html>